.circularButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.circularButtons > .button.currentButton {
  background-color: var(--current-circular-button-color);
  color: var(--white-color);
}

.circularButtons
  > .button.visited:not(.currentButton):not(.selectedAnswer):not(:hover) {
  background-color: var(--visited-circular-button-color);
  color: var(--white-color);
}

.circularButtons > .button.selectedAnswer:not(.currentButton):not(:hover) {
  background-color: var(--selected-circular-button-color);
  color: var(--white-color);
}
