.problemNavigationContainer {
  padding: var(--padding-ui);
  background-color: var(--white-color);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow);
  min-width: 300px;
  min-height: 270px;
}

.questionNumber {
  font-weight: 700;
}
