:root {
  --border-radius-large: 10px;
  --border-radius-medium: 6px;
  --border-radius-small: 4px;

  --font-size-large: 32px;
  --font-size-medium: 24px;
  --font-size-small: 18px;

  --padding-large: 32px;
  --padding-medium: 22px;
  --padding-small: 18px;
  --padding-ui: 12px;

  /* colors */
  --header-color: #ff6465;
  --black-color: #2d2d2d;
  --white-color: white;
  --white-blue-color: #b9c9df;
  --gray-color: #555b6f;
  --light-blue-color: #f5f9fe;
  --light-blue-2-color: #e5e9ee;
  --blue-color: #3686ff;
  --dark-blue-color: #165cc4;
  --error-red: #d9534f;
  --success-color: #10b61a;

  /* text input colors */
  --label-color: #a0a6b8;
  --text-input-color: #555b6f;
  --text-input-border-color: #b9c9df;

  /* box shadow */
  --box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  /* circular button state colors */
  --current-circular-button-color: #abbcfe;
  --visited-circular-button-color: #ffabaf;
  --selected-circular-button-color: #f19105;
  --non-active-circular-button-color: #c5c4c5;
  --active-circular-button-color: #5673e8;

  /* table color */
  --table-border-color: #dfdede;
  --table-head-color: #e8edf2;
  --odd-rows-colors: #ffffff;
  --even-rows-colors: #fafbfa;
  --table-rows-hover-color: #f3f3f2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--blue-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.appContainer {
  width: 80%;
  margin: auto;
}
