.quizContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.quizContainer > div {
  width: 100%;
}

.quizTitle {
  padding: var(--padding-ui);
  box-shadow: var(--box-shadow);
  margin-bottom: 18px;
  border-radius: var(--border-radius-medium);
  background-color: var(--white-color);
}

.quizProblemWithNavigation {
  width: 100%;
  display: flex;
  gap: 30px;
  min-height: 400px;
}

.quizProblemWithNavigation > div:first-child {
  flex: 3;
}

.quizProblemWithNavigation > div:last-child {
  flex: 1;
}

.notAuthenticated,
.invalidId {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.submitAllButtonContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
}

.submitAllButtonContainer > .submitAllButton {
  width: 140px;
}
