.textInputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.label {
  color: var(--label-color);
}

.label.error{
  color: var(--error-red);
}

.textInput {
  width: 100%;
  padding: var(--padding-ui);
  border: 1.5px solid var(--text-input-border-color);
  color: var(--text-input-color);
  font-size: 1rem;
  border-radius: var(--border-radius-medium);
}

.textInput::placeholder {
  color: var(--label-color);
}

.error.textInput::placeholder{
  color: var(--error-red);
}

.textInput.error{
  border: 1.5px solid var(--error-red);
  color: var(--error-red);
}

.errorMessage{
  color: var(--error-red);
  min-height: 12px;
  line-height: 12px;
  font-size: 12px;
}
