.button {
  width: 100%;
  padding: var(--padding-ui) var(--padding-small);
  border-radius: var(--border-radius-large);
  background-color: var(--blue-color);
  color: var(--white-color);
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 1rem;
}

.button:active {
  background-color: var(--dark-blue-color);
}

.button:disabled {
  color: var(--white-blue-color);
  background-color: var(--light-blue-color);
}

.button.circular {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--non-active-circular-button-color);
  color: var(--black-color);
  transition: all 0.3s;
}

.button.circular:hover {
  background-color: var(--current-circular-button-color);
  color: var(--white-color);
}

.button.circular:active {
  background-color: var(--active-circular-button-color);
  color: var(--white-color);
}
