.circularButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.circularButtons > .button.currentButton {
  background-color: #abbcfe;
  color: var(--white-color);
}

.circularButtons
  > .button.visited:not(.currentButton):not(.selectedAnswer):not(:hover) {
  background-color: #ffabaf;
  color: var(--white-color);
}

.circularButtons > .button.selectedAnswer:not(.currentButton):not(:hover) {
  background-color: #f19105;
  color: var(--white-color);
}
