.problemNavigationContainer {
  padding: var(--padding-ui);
  background-color: var(--white-color);
  border-radius: var(--border-radius-medium);
  box-shadow: var(--box-shadow);
  min-width: 300px;
  min-height: 270px;
}

.circularButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.circularButtons > .button.currentButton {
  background-color: #abbcfe;
  color: var(--white-color);
}

.circularButtons > .button.visited:not(.currentButton):not(.selectedAnswer) {
  background-color: #ffabaf;
  color: var(--white-color);
}

.circularButtons > .button.selectedAnswer:not(.currentButton) {
  background-color: #F19105;
  color: var(--white-color);
}
