.problemNavigationContainer{
    padding: var(--padding-ui);
    background-color: var(--white-color);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow);
    min-width: 300px;
    min-height: 270px;
}

.circularButtons{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.circularButtons > button.currentButton{
    background-color: #ABBCFE;
    color: var(--white-color);
}

.circularButtons > button.visited:not(.currentButton){
    background-color: #FFABAF;
    color: var(--white-color);
}